* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--gray100: #f4f6fc;
	--gray300: #a8a8b3;
	--gray700: #323238;
	--gray800: #29292e;
	--gray900: #121214;

	--primary: #8b96ff;
	--secondary: #fe8cab;
}

@media (max-width: 1080px) {
	html {
		font-size: 93.75%; // 15px
	}
}

@media (max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}

body {
	background: var(--gray900);
	color: var(--white);
}

body,
input,
textarea,
select,
button {
	font: 400 1rem 'Roboto', sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}
