.container {
	height: 5rem;
	border-bottom: 1px solid var(--gray800);
}

.content {
	max-width: 1120px;
	height: 100%;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	align-items: center;

	img {
		max-height: 3.75rem;
	}

	nav {
		margin-left: 6rem;
		height: 5rem;

		a {
			display: inline-block;
			position: relative;
			color: var(--gray300);
			line-height: 5rem;
			padding: 0 0.5rem;
			height: 5rem;
			font-size: 1.125rem;
			transition: color 0.2s;

			& + a {
				margin-left: 2rem;
			}

			&:hover {
				color: var(--white);
			}

			&.active {
				color: var(--white);
				font-weight: bold;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: var(--primary);
				}
			}
		}
	}
}
